<nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 color'>
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
      aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
      <div class="input-group-prepend">
        <i class="fa fa-search fa-fw"></i>
      </div>
      <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-sm btn-outline-danger my-2 my-sm-0 searchButtn" type="submit">Search</button>
    </form>
    <hr class="hr-vertical" style="margin-left: 13vw;"/>
    <p style="margin-left: 2vw; margin-top: 2vh;">Share</p>

    <div class="row">
        <button class="btn"><i class="fa fa-facebook-f"></i></button> 
        <button class="btn"><i class="fa fa-twitter"></i></button>
        <button class="btn"><i class="fa fa-google"></i></button>
      </div>
    <hr class="hr-vertical" style="margin-left: 3vw;"/>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <app-login-menu></app-login-menu>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
        </li>
      </ul>
    </div>
  </div>
</nav>