#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.navelement {
  color:black;
}

.row{
  display: table;
  margin-left: 1vw;
}

.follow{
  margin-left: 3vw;
}

.color {
  background-color: #d72130;
  color: white;
}

  #sidebar-wrapper .sidebar-heading {
    padding: 1.34rem 4rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 13px;
  background-color: #f8f9fa;
  overflow: visible;
  z-index: 999;
  left: 100%;
  top: 0;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown .hidden{
  overflow: hidden;
}
