.color {
  background-color: darkred;
}

.unborder{
  border: 0;
}
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 10000;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #d72130;
    color: white;
  }

  .static {
    overflow: hidden;
    position: fixed;
  }

  .color {
    background-color: #d72130;
    color: white;
  }

  .footer-text {
    margin-left: 80vw;
    margin-top: 17px;
  }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
