@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}


<style>
	#border {
		border-radius: 0;
		box-shadow: none;

	}

	.color {
		background-color: #d72130;
		color: white;
		box-shadow: none;

	}
</style>

<table>
	<tr>
		<td style="width:750px;"><img src="https://fs31.fex.net/preview/2446021497/0x0" alt="W3Schools.com" style="width:649px;height:542px;"></td>
		<td class="row" style="width:400px; margin-left:100px;">
			
			<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h1>@ViewData["Title"]</h1>
				<hr />
				<h4>Create a new account.</h4>
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email"></label>
					<input id="border" asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input id="border" asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.ConfirmPassword"></label>
					<input id="border" asp-for="Input.ConfirmPassword" class="form-control" />
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="border" type="submit" class="btn color">Register</button>
			</form>
	
		</td>
		</tr>
</table>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
